* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
#map {
  height: 100%;
}
#sidebar {
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}

#points-list {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  height: 1px;
}

.points-list-item {
  width:100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ccc;
  padding-top: 16px;
  padding-bottom: 16px;
}
